li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.footlinks {
    border-right: 1px solid #707070;
}

.cont-fluid {
  background-color: #343a40 !important;
  color: #fff !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-med-3 { 
  flex: 0 0 auto;
  width: 25%;
}

.col-med-9 {
    flex: 0 0 auto;
    width: 50%;
  }
 
.col-med-2 {
  flex: 0 0 auto;
  width: 16.666667%;
}