<div class="container-fluid bg-dark text-white">
    <div class="row">
        <div class="col-md-3 fotcomset">
            <div>
                <img src="../../assets/intelliswift-logo.png" alt="">
            </div>
            <div>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="col-md-9 fotcomset">
            <div class="row">
                <div class="col-md-2 fotcomset footlinks">
                    <h4>Information</h4>
                    <ul>
                        <li><a>About Us</a></li>
                        <li><a>Leadership</a></li>
                        <li><a>News</a></li>
                        <li><a>Events & Webinar</a></li>
                        <li><a>Carreers</a></li>
                        <li><a>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 fotcomset footlinks">
                    <h4>Technology Solutions</h4>
                    <ul>
                        <li><a>Digital Product Engineering</a></li>
                        <li><a>Data Management and Analytics</a></li>
                        <li><a>Digital Enterprise</a></li>
                        <li><a>Digital Integration Services</a></li>
                        <li><a>Salesforce</a></li>
                        <li><a>Specialty Services</a></li>
                    </ul>
                </div>
                <div class="col-md-2 fotcomset footlinks">
                    <h4>Talent Solutions</h4>
                    <ul>
                        <li><a>Contingent Workforce Services</a></li>
                        <li><a>Permanent Placements Services</a></li>
                        <li><a>IT Managed Services</a></li>
                    </ul>
                </div>
                <div class="col-md-2 fotcomset footlinks">
                    <h4>Support</h4>
                    <ul>
                        <li><a>Disclaimer</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>CCPA Privacy Policy</a></li>
                        <li><a>Scam Notice</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
