<div class="row">
    <div class="col-4 offset-4 text-primary">
        <h1> LOGIN</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" class="form-control"  formControlName="emailId">
                </mat-form-field>
            </div>
            <div class="form-group" >
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password">
                </mat-form-field>
            </div>
            <button matButton type="submit" [disabled]="loginForm.invalid" class="btn btn-primary mt-2">Login</button>
        </form>
        {{loginForm.value |json}}
        {{loginForm.errors |json}}
    </div>
</div>