
<mat-dialog-content>
  <img src={{selProd.imgUrl}} class="card-img-top m-auto"  alt={{selProd.productName}} />
  <div class="card-body">
    <h2 class="card-title">{{selProd.productName}}</h2>
    <p class="card-text">{{selProd.description}}</p>
    <p class="card-text">{{selProd.price | currency: 'MXN'}}</p>
    <p class="card-text">{{selProd.quantityInStock}} Available!</p>
  </div>
  <div class="container-fluid">
    <button type="button" mat-raised-button (click)="removeItem()" [disabled]="removeBtnDisabled">-</button>
    <p>{{cartQuantity}}</p>
    <button type="button" mat-raised-button (click)="addItem()" [disabled]="addBtnDisabled">+</button>
  </div>
  <button mat-button [disabled]="!addCartBtnDisabled" (click)="confirmSelection()" cdkFocusInitial>Add to Cart!</button>
</mat-dialog-content>