<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-4 text-primary">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate matInput placeholder="Start date" formControlName="startDate">
              <input matEndDate matInput placeholder="End date" formControlName="endDate" (dateChange)="processChange('end', $event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Mobile</mat-label>
              <input matInput type="text" formControlName="mobile">
          </mat-form-field>
        </div>
          <button matButton type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </div>
</div>